body {
  margin: 0px;
  padding: 0px;
  background-color: rgb(226, 226, 226);
}

#site-title {
  margin: 0px;
  text-align: center;
  color: rgb(219, 219, 219);
  background-color: #000;
}

#main-nav {
  border: 5px solid #ccc;
  padding: 0.5em;
  margin-bottom: 1em;
  text-align: right;
  background-color: rgb(243, 243, 243);
}

footer {
  border: 5px solid #ccc;
  padding: 0.2em;
  margin-top: 1em;
  text-align: center;
  background-color: rgb(243, 243, 243);
}

#main-nav a {
  background-color: rgb(218, 218, 218);
  border: 0.1em solid rgb(150, 150, 150);

  margin: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  
  text-decoration-line: none;
  color: rgb(54, 76, 119);
}



#mainBody {
  border: 5px solid #000;
  
  margin-left: 20px;
  margin-right: 20px;
  min-width: 500px;
}

#user-header {
  padding: 10px;
}

#user-header ul {
  display: inline-block;
  background-color: #b1b1b1;
}

#user-header-main {
  display: inline-block;
}

#history-with-you {
  float: right;
  text-align: center;
  background-color: #b8b8b8;
  border: 1px solid black;
  min-width: 250px;
}
#history-with-you ul {
  display: block;
  border-top: 1px solid black;
  padding: 3px;
  margin-bottom: 0;
}

#game-history {
  border-top: 2px solid #424242;
}

#game-history h1 {
  margin-left: 20px;
}

#game-history ul {
  text-align: center;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.past-game {
  border: 2px solid #929292;
  margin: 0 auto;
  margin-left: 20px;
  margin-right: 20px;
}

.past-game-victory {
  color: green;
}

.past-game-defeat {
  color: red;
}





