@use 'common';
@use 'games';

#mainBody {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}
  

#game-div {
    position: relative;
}

#board {
    display: inline-block;
    margin: 0 auto;
}

#board, #game-menu {
    margin-top: 10px;
    margin-bottom: 10px;
}

#promotion-list {
    position: absolute;
    top: 0px;
    left: 0px;
    min-width: 50px;
    min-height: 30px;

    list-style: none;
}

#game-menu {
    display: inline-block;
    border: 2px solid black;
    height: 100%;
    vertical-align: top;
    margin-left: 20px;
    padding: 5px;
    background-color: rgb(218, 218, 218);
}

.game-menu-header {
    border-bottom: 2px solid black;
    padding-bottom: 5px
}

#game-menu button {
    margin-bottom: 5px;
}

#game-menu button:first-of-type {
    margin-right: 5px;
}

#promotion-list li {
    text-align: center;
    background-color: aliceblue;
    border: 2px solid black;
}
