doctype html

html
    head 
        title Chess - home
        link(rel="stylesheet", href="/home/home.css")
    
    body 
        include ./universal_header
        
        div(id="mainBody")
            section#openGames
                h1 Games
                ul#openGamesTable

            script(src="./games_list.js") 
        
        include ./universal_footer
