doctype html

html
    head 
        if gameExists
            title Chess - Game: #{whiteUser} - #{blackUser}
        else 
            title Chess - Game not found
        link(rel="stylesheet", href="/home/home.css")
        link(rel="stylesheet", href="/home/game_table.css")
    
    body 
        include ./universal_header


        
        div(id="mainBody")
            if gameExists 
                p Chess is played here O_O 
                

                canvas#board



                button#drawOffer(type="button") Offer draw
                button#resignButton(type="button") Resign

                script(type="text/javascript" src="../game.js")
            else
                p Game not found.

        include ./universal_footer
