doctype html

- const isPlayer = sessionUser == whitePlayer || sessionUser == blackPlayer

html
    head 
        if gameExists
            title Chess - Game: #{whitePlayer} - #{blackPlayer}
        else 
            title Chess - Game not found
        link(rel="stylesheet", href="/home/home.css")
        link(rel="stylesheet", href="/home/game.css")
    
    body 
        include ./universal_header


        
        div(id="mainBody")
            if gameExists 
                p Chess is played here O_O 
                

                p#gameJson #{gameJson}
                div#game-div
                    canvas#board



                    if isPlayer
                        ul#promotion-list
                        button#resign-button(type="button") Resign
                        script(type="module" src="../view_game.js")
                        script(type="module" src="../play_game.js")
                    else
                        script(type="module" src="../view_game.js")
                
                

            else
                p Game not found.

        include ./universal_footer
