doctype html

html
    head 
        title Chess - Game: #{whiteUser} - #{blackUser}
        link(rel="stylesheet", href="/home/home.css")
        link(rel="stylesheet", href="/home/game_table.css")
    
    body 
        include ./universal_header


        
        div(id="mainBody")
            p Chess is played here O_O 
            

            canvas#board



            button#drawOffer(type="button") Offer draw
            button#resignButton(type="button") Resign

            script(type="text/javascript" src="../game.js") 

        include ./universal_footer
