doctype html

html
    head 
        title Chess - home
        link(rel="stylesheet", href="/home/home.css")
    
    body 
        include ./universal_header
        
        div(id="mainBody")
            p Chess is played here O_O 
            
            section#openGames
                h1 Games
                ul#openGamesTable


            button#createGame(type="button") Create game
            button#refreshGames(type="button") Refresh list

            script(type="text/javascript" src="../games_list.js") 

        include ./universal_footer
