doctype html

html
    head 
        title Chess - home
        link(rel="stylesheet", href="/home.css")
    
    body 
        include ./universal_header

        form.common-form#createGameForm(action="http://localhost:8080/game/create", method="post")
            h1 Game details 

            p Play as:
            ul.args
                li
                    label(for="no-pref") No preference
                    input#no-pref(type="radio", name="hostPrefer", value="e", checked)
                li
                    label(for="white") White
                    input#white(type="radio", name="hostPrefer", value="w")
                li
                    label(for="black") Black
                    input#black(type="radio", name="hostPrefer", value="b")
            button#createGame2.button Create game

        
        div(id="mainBody")
            section#openGames
                h1 Games
                table#openGamesTable.game-table
                    thead 
                        tr
                            th User
                            th Time Created
                            th Host Plays


            if sessionUser
                button#createGame.button(type="button") Create game
            button#refreshGames.button(type="button") Refresh list

            script(type="module" src="/games_list.js") 

        include ./universal_footer
