doctype html

html
    head 
        title Chess - home
        link(rel="stylesheet", href="/home/home.css")
        link(rel="stylesheet", href="/home/game_table.css")
    
    body 
        include ./universal_header

        form#createGameForm(action="http://localhost:8080/game/create", method="post")
            h1 Game details 

            p Play as:
            label(for="no-pref") No preference
            input#no-pref(type="radio", name="hostPrefer", value="e", checked)
            label(for="white") White
            input#white(type="radio", name="hostPrefer", value="w")
            label(for="black") Black
            input#black(type="radio", name="hostPrefer", value="b")
            button#createGame2 Create game

        
        div(id="mainBody")
            section#openGames
                h1 Games
                table#openGamesTable
                    thead 
                        tr
                            th User
                            th Time Created
                            th Host Plays



            button#createGame(type="button") Create game
            button#refreshGames(type="button") Refresh list

            script(type="module" src="../games_list.js") 

        include ./universal_footer
