doctype html

html
    head 
        title Chess - login
        link(rel="stylesheet", href="/home.css")
    body 
        include ./universal_header

        form.common-form(action="http://localhost:8080/user/login", method="post")
            if error 
                p.error-msg Could not login with the given info.
            ul.args
                li 
                    label(for="usernameInput") Username:
                    input#usernameInput(type="text", name="user", maxlength="16", autocomplete="username", required)
                li 
                    label(for="passwordInput") Password:
                    input#passwordInput(type="password", name="pass", autocomplete="current-password", required)
            button.button(type="submit") Login
        p.common-form Or
            a.button(href="/create-account") Register
            | instead
        
        include ./universal_footer
