header 
    h1#site-title Chess Website
    nav#site-nav.section
        a.button(href="/home") Home

        if sessionUser
            a.button#to-user-page(href="/user/" + sessionUser) #{sessionUser}
            a.button(href="/user/logout") Logout
        else
            a.button(href="/login") Login / Sign-up
