doctype html


html
    head 
        title Chess - #{pageUser}
        link(rel="stylesheet", href="/home/home.css")
    
    body 
        include ./universal_header

        div#mainBody
            if userExists
                p #{pageUser}'s page!
                
                -const myOwnPage = pageUser === sessionUser; //- Whether the current session's user is viewing their own user page.
                if myOwnPage 
                    p This is your page! You are #{sessionUser}!
            else
                p No profile found for #{pageUser}!
        
        
        include ./universal_footer
