@use 'common';
@use 'games';

.user-link {
    transition: box-shadow 0.15s;

    background-color: rgb(202, 202, 202);

    padding-left: 10px;
    padding-right: 10px;

    text-decoration-line: none;
    color: rgb(54, 76, 119);
}

.user-link:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.2);
}

.profile-detailed {
    border: 5px solid #000;
    
    margin-left: 20px;
    margin-right: 20px;
    min-width: 500px;
}
  
.profile-header {
    padding: 10px;
}
  
.profile-header ul {
    display: inline-block;
    background-color: #b1b1b1;
}
  
.profile-header-main {
    display: inline-block;
}
  
.history-with-you {
    float: right;
    text-align: center;
    background-color: #b8b8b8;
    border: 1px solid black;
    min-width: 250px;
}
  
.history-with-you ul {
    display: block;
    border-top: 1px solid black;
    padding: 3px;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
}
  
.game-history {
    border-top: 2px solid #424242;
}
  
.game-history h1 {
    margin-left: 20px;
}
  
.game-history ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}
  
.past-game {
    border: 2px solid #929292;
    margin: 0 auto;
    margin-left: 20px;
    margin-right: 20px;
}